@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://cdn.jsdelivr.net/npm/pretendard@1.3.9/dist/web/static/pretendard.css');

:root {
  --primary-color: #0055a4;
  --secondary-color: #00a896;
  --background-color: #f4f4f4;
  --text-color: #333333;
  --light-gray: #eeeeee;
  --medium-gray: #cccccc;
  --dark-gray: #666666;
  --text-color-white: #ffffff;
  --text-color-orange: orangered;
}

body {
  color: var(--text-color);
  background-color: var(--background-color);
  /* background: #F4F4F4; */
  /* font-family: 'Pretendard', 'Noto Sans KR', 'Roboto', sans-serif; */
  font-family: 'Pretendard';
  overflow-x: hidden;
}

/* 배경 마스크 스타일 */
.bg-mask {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
}

/* =============================== */
/* 폰트 컬러 */
/* =============================== */
.font-white {
  color: var(--text-color-white);
}
.font-orange {
  color: var(--text-color-orange);
}
.font-gray-9 {
  color: #969696;
}

.bg-orange {
  background-color: #fff7ed;
  /* background-color: #FFcd90; */
}

/* =============================== */
/* 폰트 크기 */
/* =============================== */
.font-15 {
  font-size: 0.938rem;
}

.placeholder {
  background-color: var(--medium-gray);
  border: 1px solid var(--dark-gray);
  /* padding: 1rem; */
  border-radius: 0.25rem;
  margin: 0.5rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wireframe-header {
  font-weight: bold;
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.wireframe-section {
  margin: 1.5rem 0;
}

.dev-note,
.design-note {
  font-size: 0.8rem;
  padding: 0.5rem;
  margin: 0.5rem 0;
  border-radius: 0.25rem;
}

.dev-note {
  background-color: #e3f2fd;
  border-left: 3px solid #2196f3;
}

.design-note {
  background-color: #f3e5f5;
  border-left: 3px solid #9c27b0;
}

.design-note-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  padding: 0 0 2px 2px;
}

/* =============================== */
/* 버튼 */
/* =============================== */
@layer components {
  [class*='btn-'] {
    border-radius: 0.375rem;
    padding: 0.438rem 1rem;
    box-sizing: border-box;
    font-size: 0.938rem;
    font-weight: 500;
    line-height: 160%;
    height: 2.5rem;
    cursor: pointer;
    transition: all 0.2s ease;
    text-decoration: none;
    white-space: nowrap;
  }

  /* <a>태그 버튼 비활성화 */
  .btn-primary.disabled .disabled,
  .btn-secondary.disabled .disabled {
    pointer-events: none;
  }

  /* 공통 버튼 : primary */
  .btn-primary {
    background: #ff4500;
    color: #ffffff;
    border: 1px solid #ff4500;
  }
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
  background: #ac3100;
  border: 1px solid #ac3100;
}
  .btn-primary:disabled,
  .btn-primary.disabled {
    background: #cccccc;
    border: 1px solid #cccccc;
    cursor: not-allowed;
  }

  /* 공통버튼 : secondary */
  .btn-secondary {
    background: #ffffff;
    color: #ff4500;
    border: 1px solid #ff4500;
  }
  .btn-secondary:hover,
  .btn-secondary:focus,
  .btn-secondary:active {
    color: #d33d06;
    border: 1px solid #d33d06;
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
  }
  .btn-secondary:disabled,
  .btn-secondary.disabled {
    background: #ffffff;
    color: #cccccc;
    border: 1px solid #cccccc;
    cursor: not-allowed;
    box-shadow: none;
  }

  /* 공통버튼 : basic */
  .btn-basic {
    background: #ffffff;
    color: #333333;
    border: 1px solid #333333;
  }

  .btn-basic:hover,
  .btn-basic:focus,
  .btn-basic:active {
    background: #333333;
    border: 1px solid #333333;
    color: #ffffff;
  }

  .btn-normal {
    background: #ffffff;
    border: 1px solid #dddddd;
    color: #333333;
  }
  .btn-normal:hover,
  .btn-normal:active,
  .btn-normal:focus {
    background: #ffffff;
    border: 1px solid #666666;
    color: #333333;
  }

  /* 버튼 사이즈 */
  .btn-50 {
    height: 3.125rem;
  }
  .btn-32 {
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .btn-large {
    /* @apply px-6 py-3 border border-gray-300 rounded-md transition-all duration-200; */
    @apply px-6 py-3 transition-all duration-200;
  }

  .btn-large:hover {
    /* @apply bg-primary text-white border-transparent; */
  }

  .btn-small {
    @apply px-3 py-1;
  }

  .menu-btn {
    @apply px-3 py-1 border border-gray-300 rounded-md text-sm transition-all duration-200;
  }

  .menu-btn:hover {
    @apply bg-primary text-white border-transparent;
  }
}

/* 공통 아이콘 */
.icon-img-40 {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* =============================== */
/* 폼요소 */
/* =============================== */
.form-group {
  margin-bottom: 1.25rem;
}
.form-group label,
.form-group fieldset legend {
  display: block;
  font-size: 1rem;
  font-weight: 700;
  line-height: 140%;
  color: #333333;
  margin-bottom: 0.5rem;
}
.form-group fieldset label {
  font-weight: 400;
  font-size: 0.938rem;
  line-height: 160%;
  color: #333333;
  margin-bottom: 0;
}

/* input */
@layer base {
  input[type='text'],
  input[type='password'],
  input[type='email'],
  input[type='tel'] {
    width: 100%;
    box-sizing: border-box;
    height: 2.5rem;
    border: 1px solid #dddddd;
    border-radius: 0.375rem;
    padding: 0.5rem 0.75rem;
    font-size: 0.938rem;
    font-weight: 400;
    color: #333333;
  }
  input::placeholder {
    color: #bfbfbf;
  }
  input:focus,
  select:focus,
  textarea:focus {
    outline: 2px solid #000 !important;
    outline-offset: 0 !important;
  }

  textarea {
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #dddddd;
    border-radius: 0.375rem;
    padding: 0.5rem 0.75rem;
    font-size: 0.938rem;
    font-weight: 400;
    color: #333333;
  }

  input[type='file'] {
    width: 100%;
    box-sizing: border-box;
    height: 2.625rem;
    border-radius: 0.5rem;
    padding: 0.5rem 0.625rem;
    font-size: 0.938rem;
    font-weight: 400;
    color: #333333;
    background-color: rgba(244, 244, 244, 0.8);
  }
  input[type='file']::-webkit-file-upload-button,
  input[type='file']::file-selector-button {
    background: #fff;
    border: 1px solid #dddddd;
    border-radius: 0.5rem;
    font: inherit;
    color: #333;
    cursor: pointer;
    margin-right: 0.5rem;
  }

  /* 단위가 있는 input */
  .input-unit-wrap {
    display: flex;
    align-items: center;
    border: 1px solid #dddddd;
    border-radius: 0.375rem;
    padding: 0.5rem 0.75rem;
    font-size: 0.938rem;
    font-weight: 400;
    color: #333333;
    height: 2.5rem;
  }
  .input-unit-wrap input {
    width: 100%;
    outline: none !important;
  }
  .input-unit-wrap > span {
    white-space: nowrap;
  }
  .input-unit-wrap.disabled,
  .input-unit-wrap.disabled > span {
    background-color: #f5f5f5;
    color: #999999;
    cursor: not-allowed;
  }
  .input-unit-wrap.readonly,
  .input-unit-wrap.readonly > span {
    background-color: #f3f4f6;
    color: #6b7280;
  }
  .input-unit-wrap.readonly input {
    color: #6b7280;
    cursor: default;
  }
}

/* checkbox */
.checkbox-group {
}
.checkbox-group label {
  display: flex;
  align-items: start;
  justify-content: start;
  font-weight: 500;
  font-size: 0.938rem;
  line-height: 140%;
  color: #333333;
}

/* checkbox */
@layer base {
  input[type='checkbox'] {
    appearance: none;
    -webkit-appearance: none;
    width: 1rem;
    height: 1rem;
    min-width: 1rem;
    border: 1px solid #dddddd;
    border-radius: 0.25rem;
    background: #ffffff;
    margin-right: 0.5rem;
    margin-top: 0.188rem;
    position: relative;
  }
  input[type='checkbox']:checked {
    background-color: #ff4500;
    border-color: #ff4500;
  }
  input[type='checkbox']:checked::after {
    content: '';
    background-image: url('../assets/icons/icon-checked.png');
    background-size: 0.625rem 0.5rem;
    background-repeat: no-repeat;
    background-position: center;
    width: 1rem;
    height: 1rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  input[type='checkbox']:focus {
    outline: none !important;
    outline-offset: 0 !important;
  }
  .checkbox-sub {
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 160%;
    color: #969696;
    margin-top: 0.188rem;
  }
}

/* radio */
.radio-group {
}
.radio-group label {
  display: flex;
  align-items: start;
  justify-content: start;
  font-weight: 400;
  font-size: 0.938rem;
  line-height: 140%;
  color: #333333;
  margin-bottom: 0.5rem !important;
  width: fit-content;
}
.radio-group label.radio-etc {
  width: 100%;
  margin-bottom: 0 !important;
}
.radio-group label.radio-etc > div {
  display: flex;
  align-items: center;
}
.radio-group label.radio-etc span {
  display: inline-block;
  white-space: nowrap;
  margin-right: 0.5rem;
}
.radio-group label.radio-etc input[type='text'] {
  border: 0;
  border-radius: 0;
  border-bottom: 1px solid #dddddd;
  background: #ffffff;
  padding: 0 0.25rem;
  height: 1.5rem;
}

.radio-group label.disabled,
.radio-etc.disabled {
  cursor: not-allowed;
  color: #999999;
  opacity: 0.5;
}

@layer base {
  /* 공통 스타일 */
  input[type='radio'] {
    appearance: none;
    -webkit-appearance: none;
    width: 1rem;
    height: 1rem;
    min-width: 1rem;
    border: 1px solid #dddddd;
    border-radius: 50%;
    background: #ffffff;
    margin-right: 0.5rem;
    margin-top: 0.188rem;
    position: relative;
    cursor: pointer;
  }

  /* 선택 상태 */
  input[type='radio']:checked {
    border-color: #ff4500;
    background-color: #ff4500;
  }

  /* 체크 표시 (중앙 점) */
  input[type='radio']:checked::after {
    content: '';
    width: 0.5rem;
    height: 0.5rem;
    background-color: #ffffff;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  /* 포커스 시 외곽선 제거 */
  input[type='radio']:focus {
    outline: none !important;
    outline-offset: 0 !important;
  }

  input[type='radio']:disabled,
  input:disabled {
    border-color: #dddddd;
    background-color: #f5f5f5;
    cursor: not-allowed;
  }
}

/* select */
@layer base {
  select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 100%;
    box-sizing: border-box;
    height: 2.5rem;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    border-radius: 0.375rem;
    padding: 0.5rem 2rem 0.5rem 0.75rem;
    font-size: 0.938rem;
    font-weight: 400;
    color: #333333;
    cursor: pointer;
    background-image: url('../assets/icons/icon-select-arrow.png');
    background-repeat: no-repeat;
    background-position: right 0.75rem center;
    background-size: 0.75rem 0.75rem;
  }
  select:disabled {
    background-color: #f5f5f5;
    color: #aaaaaa;
    cursor: not-allowed;
  }
}

/* =============================== */
/* 공통 이미지 */
/* =============================== */
.image-wrap {
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 1.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.image-wrap > img {
  width: 100%;
  /* height: 100%; */
  object-fit: cover;
  object-position: center;
}

/* =============================== */
/* 공통 border */
/* =============================== */
.border-0 {
  border: 0 !important;
}

/* 공통 이너 (1200px) */
.container .inner {
  max-width: 1200px;
  margin: 0 auto;
}

/* 스위치 */
.switch-container {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  cursor: pointer;
  margin-bottom: 1.25rem;
}

.switch-inline {
  margin-bottom: 0;
  align-items: center;
}

.switch-input {
  display: none;
}

.switch-slider {
  position: relative;
  width: 44px;
  height: 24px;
  background-color: #ccc;
  border-radius: 9999px;
  transition: background-color 0.3s;
}

.switch-slider::before {
  content: '';
  position: absolute;
  top: 4px;
  left: 4px;
  width: 16px;
  height: 16px;
  background: white;
  border-radius: 50%;
  transition: transform 0.3s;
}

/* 활성화 상태 */
.switch-slider.active {
  background-color: #ff4500;
}

.switch-slider.active::before {
  transform: translateX(20px);
}

/* 차트 */
.chart-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  border-radius: 1rem;
  padding: 2rem 1rem 1rem 1rem;
  background: #f5f5f5;
}

/* 공통 flex */
.flex-row-center {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

/* =============================== */
/* 공통 pagenation */
/* =============================== */
.pagenation {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.75rem;
}
.pagenation button {
  width: 2.5rem;
  height: 2.5rem;
  border: 1px solid #dddddd;
  border-radius: 0.6rem;
  background: #ffffff;
  color: #666666;
  cursor: pointer;
  font-weight: 600;
  font-size: 0.938rem;
  line-height: 160%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.pagenation button.active {
  background: #ff4500;
  color: #ffffff;
  /* border: 1px solid #FF4500; */
}

/* 임시 - 연돌현상 평가 프로세스 */
.active-process {
  color: var(--primary-color);
}
.active-process-bg {
  background-color: var(--primary-color);
}

/* =============================== */
/* 공통 loading */
/* =============================== */
.loading-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 31.25rem;
  background: #ffffff;
  border-radius: 1.25rem;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.05);
}
.loading-message {
  font-family: Pretendard;
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 160%;
  text-align: center;
  color: #969696;
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
  padding: 0.5rem 0;
}
