/* 엔지니어링 서비스 */

.eng-projects{}

.eng-projects .project-item:last-child{
  border-bottom: 0;
}

.acc-info-wrap{
  border-top: 1px dashed #eee;
}
.eng-projects .acc-info > div{
  display: flex;
  gap: 1rem;
  padding-left: 2.5rem;
  white-space: pre-line;
}

.eng-projects .acc-info span{
  display: flex;
  align-items: start;
  justify-content: space-between;
  min-width: 6rem;
}

@media (max-width: 767px) {
  .eng-projects .acc-info > div{
    padding-left: 0;
  }
}

/* 관리자 - 입력폼 */



/* 공통 이미지 */
.image-wrap{
  width: 100%;
  height: 100%;
}
.image-wrap > img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}



/* 연돌현상 소개 */
.intro-acc:last-child{
  border-bottom: 0;
}
.intro{
  /* border-top: 1px dashed #eee; */
  padding: 1.5rem 2rem 1rem 2rem;
}
.intro-text{
  font-size: 1.1rem;
  line-height: 1.8;
  color: #1f2937;
}

